PORT=3000
BASE_URL=http://127.0.0.1:3000
ADMIN_PASSWORD=replace-with-a-long-random-password
PCO_APP_ID=
PCO_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
PCO_SERVICE_TYPE_ID=10670
SPOTIFY_PLAYLIST_ID=343fIBIyCNoLx4aoKoqtPt
DATA_DIR=./data
SYNC_TIMEZONE=America/New_York
SYNC_HOUR=10

PRE_SERVICE_PLAYLIST_ID=0WAQXaN7S6QynKYvTg0WP9
